{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="page-header" style="margin-top: -10px;">
        <h3>关于</h3>
    </div>
    <div class="content">
        <div style="padding-left: 15px">
             带逛网，专注于为用户在海量的网络信息里刷选出最优质的内容信息，帮助用户节省时间。<br/>目前已经已有的模块包括知乎带逛，知乎热门问题等，后期会陆续加入其他的门户网站，如有疑问，请联系:sherlock_65535#qq.com
        </div>
        <hr>
        <h3>作者</h3>
        <div style="padding-left: 15px">
             Java软件工程师，爱好一望无际的作家一枚
        </div>
        <hr>
        <h3>与我联系：</h3>
        <ul>
            <li>
                <p>博客地址：http://cafebabe.cn</p>
            </li>
            <li>
                <p>知乎地址：http://www.zhihu.com/people/ruo-chen-xing</p>
            </li>
            <li>
                <p>Github地址：https://github.com/ruochenxing</p>
            </li>
        </ul>
        <h3>友情链接：</h3>
        <div style="padding-left: 15px">
             <a href="http://www.zuilihai.top" target="_blank">最厉害网盘搜索</a> &nbsp;|&nbsp;
             <a href="http://www.ajavaer.com" target="_blank">Java开发者社区</a>
        </div>
    </div>

    <hr>

    <div class="ds-thread" data-thread-key="about" data-title="关于" data-url="{{root}}/about"></div>

</div>
{% endblock %}
