{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <div class="main-items col-md-12" style="text-align:center">
        <h2>Think Different</h2>
        <p>Here's to the crazy ones.</p>
		<p>The misfits.</p>
		<p>The rebels.</p>
		<p>The troublemakers.</p>
		<p>The round pegs in the square holes.</p>
		<p>The ones who see things differently.</p>
		<p>They're not fond of rules</p>
		<p>And they have no respect for the status quo.</p>
		<p>You can praise them, quote them, disagree with them</p>
		<p>disbelieve them, glorify or vilify them.</p>
		<p>About the only thing that you can't do is ignore them.</p>
		<p>Because they change things.</p>
		<p>They invent. They imagine. They heal.</p>
		<p>They explore. They create. They inspire.</p>
		<p>They push the human race forward.</p>
		<p>Maybe they have to be crazy.</p>
		<p>How else can you stare at an empty canvas and see a work of art?</p>
		<p>Or sit in silence and hear a song that's never been written?</p>
		<p>Or gaze at a red planet and see a laboratory on wheels?</p>
		<p>We make tools for these kinds of people.</p>
		<p>While some may see them as the crazy ones, we see genius.</p>
		<p>Because the people who are crazy enough to think that they can</p>
		<p>change the world, are the ones who do.</p>
		<span style="padding-left:300px">1997</span>
        </p>
    </div>
</div>
{% endblock %}
